pre .String {
   color: #A5C261;
}
pre .Constant {
   color: #6FAEBE;
}
pre .Source {
   color: #FBFCFF;
}
pre .line-numbers {
   background-color: #5A647E;
   color: #FFFFFF;
}
pre .Variable {
   color: #5F9FFF;
}
pre .DiffHeader {
   background-color: #2F33AB;
}
pre .DiffRemove {
   background-color: #660000;
   color: #E6E1DC;
}
pre .DiffAdd {
   background-color: #144212;
   color: #E6E1DC;
}
pre .Number {
   color: #8FAAC2;
}
pre .StringInterpolation {
   color: #519F50;
}
pre .FunctionDefinition {
   color: #FFC66D;
}
pre .MarkupTag {
   color: #E8BF6A;
}
pre .LibraryConstant {
   color: #A5C261;
}
pre .ConstantOtherVariable {
   color: #DA4939;
}
pre .LibraryFunction {
   color: #DA4939;
}
pre .Keyword {
   color: #CC7833;
}
pre .ConstantBuiltIn {
   color: #6294BE;
}
pre, p code {
   background-color: rgba(43,43,43,0.95);
   color: #E6E1DC;
}
pre .Invalid {
   background-color: #990000;
   color: #FFFFFF;
}
pre .LibraryType {
   color: #6E9CBE;
}
pre .ClassDefinition {
   color: #DA7E76;
}
pre .Comment {
   color: #9D9393;
   font-style: italic;
}

pre::selection,
pre ::selection {
  background-color: black;
}

pre::-moz-selection,
pre ::-moz-selection {
  background-color: black;
}
