code .String {
   color: #A5C261;
}
code .Constant {
   color: #6FAEBE;
}
code .Source {
   color: #FBFCFF;
}
code .line-numbers {
   background-color: #5A647E;
   color: #FFFFFF;
}
code .Variable {
   color: #5F9FFF;
}
code .DiffHeader {
   background-color: #2F33AB;
}
code .DiffRemove {
   background-color: #660000;
   color: #E6E1DC;
}
code .DiffAdd {
   background-color: #144212;
   color: #E6E1DC;
}
code .Number {
   color: #8FAAC2;
}
code .StringInterpolation {
   color: #519F50;
}
code .FunctionDefinition {
   color: #FFC66D;
}
code .MarkupTag {
   color: #E8BF6A;
}
code .LibraryConstant {
   color: #A5C261;
}
code .ConstantOtherVariable {
   color: #DA4939;
}
code .LibraryFunction {
   color: #DA4939;
}
code .Keyword {
   color: #CC7833;
}
code .ConstantBuiltIn {
   color: #6294BE;
}
p code, pre {
   background-color: rgba(43,43,43,0.95);
   color: #E6E1DC;
}
code .Invalid {
   background-color: #990000;
   color: #FFFFFF;
}
code .LibraryType {
   color: #6E9CBE;
}
code .ClassDefinition {
   color: #DA7E76;
}
code .Comment {
   color: #9D9393;
   font-style: italic;
}

code::selection,
code ::selection,
pre::selection,
pre ::selection {
  background-color: black;
}

code::-moz-selection,
code ::-moz-selection,
pre::-moz-selection,
pre ::-moz-selection {
  background-color: black;
}
